# Google Places API Integration Config
# Get a Google Places API key from Google Cloud Console: https://console.cloud.google.com/
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here

# Get your Place ID using the Google Place ID Finder:
# https://developers.google.com/maps/documentation/places/web-service/place-id
# For Shambhu ji Travels, you can search for "Shambhu ji Travels Bareilly" to retrieve the Place ID.
GOOGLE_PLACE_ID=your_google_place_id_here
